/***********************************
  
                GameDiv
  
  ***********************************/

.outcomes {
  /* Positioning */
  position: absolute;
  bottom: 10px;
  /* Box-model */
  width: 90%;
  /* Typography */
  text-align: center;
}

.outcome-trackers {
  /* Box-model */
  display: inline-block;
  font-size: 20px;
}

#player1-losses {
  padding-left: 20px;
}

#player2-losses {
  padding-left: 20px;
}

